2019_Summer_Workflow/02_RawRGB_To_OpticalFlow/__pycache__
2019_02_JumpingJacks/01_original_1080p_video
2019_02_JumpingJacks/02_screenflow/IsaiahLeftArm.screenflow
2019_02_JumpingJacks/02_screenflow/IsaiahLegLeft.screenflow
2019_02_JumpingJacks/02_screenflow/IsaiahRightArm.screenflow
2019_02_JumpingJacks/02_screenflow/IsaiahRightLeg.screenflow
2019_02_JumpingJacks/02_screenflow/KayleeLeftArm.screenflow
2019_02_JumpingJacks/02_screenflow/KayleeLegLeft.screenflow
2019_02_JumpingJacks/02_screenflow/KayleeRightArm.screenflow
2019_02_JumpingJacks/02_screenflow/KayleeRightLeg.screenflow
2019_02_JumpingJacks/02_screenflow/PattersonLeftArm.screenflow
2019_02_JumpingJacks/02_screenflow/PattersonLegLeft.screenflow
2019_02_JumpingJacks/02_screenflow/PattersonRightArm.screenflow
2019_02_JumpingJacks/02_screenflow/PattersonRightLeg.screenflow
2019_02_JumpingJacks/02_screenflow/RyanLeftArm.screenflow
2019_02_JumpingJacks/02_screenflow/RyanLegLeft.screenflow
2019_02_JumpingJacks/02_screenflow/RyanRightArm.screenflow
2019_02_JumpingJacks/02_screenflow/RyanRightLeg.screenflow
2019_02_JumpingJacks/03_cropped_1080_square_stills
secrets.py
cache
2019_Summer_Workflow/05_ScaleDFrame/__pycache__
2019_Summer_Workflow/06_ProcessedDFrame/__pycache__
2019_Summer_Workflow/__pycache__
